.box {
  width: 400px;
  height: 400px;
  background: rebeccapurple;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move;
  animation-duration: 3s;
  /* animation-iteration-count: 2; */
  /* animation-direction: reverse;
  animation-delay: 2s; */
  animation-timing-function: ease-in;
}

/* @keyframes colorchange {
  from {
    background: pink;
  }
  to {
    background: cyan;
  }
} */

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
} */

/* @keyframes rainbow {
  0% {
    background: red;
  }
  20% {
    background: yellow;
  }
  50% {
    background: green;
  }
  100% {
    background: violet;
  }
} */

@keyframes move {
  0% {
    transform: translateX(0);
    background: purple;
  }
  50% {
    transform: translateX(500px);
  }
  75% {
    transform: translateX(800px);
    background: mediumblue;
  }
  100% {
    transform: translateX(0px);
    background: yellow;
  }
}
