.box {
  width: 400px;
  height: 400px;
  background: rebeccapurple;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin;
  animation-duration: 1s;
}

/* @keyframes colorchange {
  from {
    background: pink;
  }
  to {
    background: cyan;
  }
} */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
