body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: black;
}

.spinner {
  width: 200px;
  height: 200px;
  border: 12px solid gray;
  border-top-color: #3f51b5;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
